.home-container {
  height: 100%;
  color: white;
  /* background-color: hsl(30, 5%, 5%); */
  /* background-image: linear-gradient(135deg, hsl(45, 15%, 30%), hsl(45, 10%, 30%), hsl(45, 5%, 15%)); */
  background-image: url("../assets/360_F_294992494_kPG2PgIe6Jn9sU4OcSw6Th6SvZD4OfWy.jpg");
  background-size: 100% 80%;
}
.home-box {
  display: block;
  width: 75%;
  height: 75%;
  background-color: hsla(30, 5%, 25%,0);
  margin: auto;
  padding: 0px;
}
h1 {
  font-size: 48px;
}
#boyang-photo-1 {
  border: 1px solid hsl(45, 75%, 50%);
}

.place-holder {
  width: 100%;
  height: 700px;
  background-color:hsla(30, 5%, 25%,0);
  display: block;
}

@media screen and (orientation: portrait) {
  h1 {
    font-size: 10vw;
  }
  #boyang-photo-1 {
    width: 60vw;
  }
}