#home-aboout-me-container {
  width: 100%;
  height: fit-content;
  background-color: hsl(30, 5%, 17%);
  z-index: 5;
}
#top-bar {
  display: block;
  width: 100%;
  height: 1px;
  background-color: hsl(45, 75%, 50%);
  top: 20px;
  margin: 0px;
  padding: 0px;
  transition-duration: 1s;
}
#text-box {
  width: 50%;
  margin-left: 25%;
}
.text {
 text-align: left;
 font-size: 18px;
 line-height: 32px;
}
#boyang-2 {
  border: 1px solid hsl(45, 75%, 50%);
}

@media screen and (orientation: portrait) {
  #home-aboout-me-container {
    width: 100vw;
    height: fit-content;
  }
  #text-box {
    width: 75%;
    margin-left: 12.5%;
  }
  #boyang-2 {
    width: 75vw;
  }
}
